-- 🔥 ORDEN CORRECTO

DROP TABLE IF EXISTS voto;
DROP TABLE IF EXISTS opciones;
DROP TABLE IF EXISTS lista_de_votacion;
DROP TABLE IF EXISTS usuarios;

-- 👤 USUARIOS
CREATE TABLE usuarios (
  id_usuario INT AUTO_INCREMENT PRIMARY KEY,
  nombre_de_usuario VARCHAR(50),
  apellido_de_usuario VARCHAR(50),
  numero_de_telefono VARCHAR(20),
  correo_electronico VARCHAR(100),
  contrasena VARCHAR(100)
);

INSERT INTO usuarios VALUES
(1,'Juan','Perez','123456789','juan@email.com','1234'),
(2,'cristian','ordonez','32125853','cristian@email.com','12345');

-- 📋 LISTAS
CREATE TABLE lista_de_votacion (
  id_lista INT AUTO_INCREMENT PRIMARY KEY,
  nombre_lista VARCHAR(100),
  descripcion TEXT,
  id_usuario INT,
  FOREIGN KEY (id_usuario) REFERENCES usuarios(id_usuario)
);

INSERT INTO lista_de_votacion VALUES
(1,'gatos','descripcion',1),
(2,'perros','a quien le gustan los perros',1);

-- 🧾 OPCIONES
CREATE TABLE opciones (
  id_opcion INT AUTO_INCREMENT PRIMARY KEY,
  descripcion VARCHAR(100),
  id_lista INT,
  FOREIGN KEY (id_lista) REFERENCES lista_de_votacion(id_lista)
);

INSERT INTO opciones VALUES
(1,'si',2),
(2,'no',2);

-- 🗳️ VOTOS
CREATE TABLE voto (
  id_voto INT AUTO_INCREMENT PRIMARY KEY,
  id_usuario INT,
  id_opcion INT,
  id_lista INT,
  fecha_voto DATETIME,
  FOREIGN KEY (id_usuario) REFERENCES usuarios(id_usuario),
  FOREIGN KEY (id_opcion) REFERENCES opciones(id_opcion),
  FOREIGN KEY (id_lista) REFERENCES lista_de_votacion(id_lista)
);

INSERT INTO voto VALUES
(1,1,2,2,'2026-03-22 18:09:40'),
(2,2,1,2,'2026-03-22 18:13:34');